# Virtual environments
db_venv/
first_venv/
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*Zone.Identifier*

# Mac
.DS_Store

# files 
test.py
databases/
exercise/